.cover {
  max-width: 1184px;
  max-height: 740px;
  display: flex;
  margin: auto;
  padding-bottom: 92px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.cover::before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

.cover:hover {
  background: #2A2C2F;
  transition: opacity 500ms linear 1s;
  opacity: 0.8;
}