.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  align-self: flex-start;
  background-size: cover;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-height: 640px;  
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-height: 200px;
    padding-bottom: 64px;
  }
}